body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
